@using Microsoft.AspNetCore.Identity
@using projetoTP3_A2.Models
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<style>
    .nav-link.text-user {
        color: #14A091 !important;
        font-weight: 600;
    }
</style>

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    var perfil = user.Perfil.ToString(); // pega o enum Perfis
    var nome = user.Nome; // ou UserName, se preferir

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-user" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Olá, @perfil @nome
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Sair</button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registrar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
        </li>
    </ul>
}