@using Microsoft.AspNetCore.Identity
@using projetoTP3_A2.Models
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var roles = await UserManager.GetRolesAsync(user);
}

<div class="d-flex flex-column flex-shrink-0 p-3 border-end h-100"
     style="width: 220px; background-color: #E7FDFB;">
    <ul class="nav nav-pills flex-column mb-auto">
        @if (roles.Contains("Medico"))
        {
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center" asp-controller="Medico" asp-action="Pacientes">
                    <img src="~/images/icons/patient_svg.svg" alt="Pacientes" class="me-2" style="height:1em;" />
                    <span class="d-none d-sm-inline">Pacientes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center" asp-controller="Prontuario" asp-action="IndexMedico">
                    <img src="~/images/icons/prontuario_svg.svg" alt="Prontuários" class="me-2" style="height:1em;" />
                    <span class="d-none d-sm-inline">Prontuários</span>
                </a>
            </li>
        }

        @if (roles.Contains("Administrador"))
        {
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center" asp-controller="Patologia" asp-action="Index">
                    <img src="~/images/icons/patoplogia_svg.svg" alt="Patologias" class="me-2" style="height:1em;" />
                    <span class="d-none d-sm-inline">Patologias</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center" asp-controller="Alergia" asp-action="Index">
                    <img src="~/images/icons/alergia_svg.svg" alt="Alergias" class="me-2" style="height:1em;" />
                    <span class="d-none d-sm-inline">Alergias</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center" asp-controller="Medicamento" asp-action="Index">
                    <img src="~/images/icons/medicamento_svg.svg" alt="Medicamentos" class="me-2" style="height:1em;" />
                    <span class="d-none d-sm-inline">Medicamentos</span>
                </a>
            </li>
            <!-- Novo item: Reabrir Prontuários -->
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center" asp-controller="Prontuario" asp-action="ReabrirIndex">
                    <img src="~/images/icons/config_svg.svg" alt="Reabrir" class="me-2" style="height:1em;" />
                    <span class="d-none d-sm-inline">Reabrir Prontuários</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center" asp-controller="Farmacia" asp-action="Index">
                    <img src="~/images/icons/pharmacy_svg.svg" alt="Farmácia" class="me-2" style="height:1em;" />
                    <span class="d-none d-sm-inline">Farmácia</span>
                </a>
            </li>
        }

        @if (roles.Contains("Farmaceutico"))
        {
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center" asp-controller="Home" asp-action="FarmaceuticoHome">
                    <img src="~/images/icons/pharmacy_svg.svg" alt="Farmacêutico" class="me-2" style="height:1em;" />
                    <span class="d-none d-sm-inline">Área do Farmacêutico</span>
                </a>
            </li>
        }

        @if (User.IsInRole("Paciente"))
        {
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center" asp-controller="Prontuario" asp-action="IndexPaciente">
                    <img src="~/images/icons/prontuario_svg.svg" alt="Prontuários" class="me-2" style="height:1em;" />
                    <span class="d-none d-sm-inline">Meus Prontuários</span>
                </a>
            </li>
        }
    </ul>
</div>