@{
    ViewData["Title"] = "Área do Paciente";
    Layout = "_Layout"; // usa o layout padrão com navbar e rodapé
}

<div class="container-fluid">
    <!-- Coluna do menu lateral -->
    <div class="col-md-2">
        <partial name="_Sidebar" />
    </div>
</div>